<!DOCTYPE html>
<html>
<head>
	<title>
		CONTACT US
	</title>
	<link rel="stylesheet" type="text/css" href="../public/css/contact.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
        
</head>
<body>
<div class="container">
            <div class="row">
                <div class="col-md-6 sm-12" id="form_container">
                    <h1 id="h1">Contact Us</h1> 
                    <p> Please send your message below. We will get back to you at the earliest! </p>
                    <form role="form" method="post" id="reused_form">
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="message"> Message:</label>
                                <textarea class="form-control" type="textarea" id="message" name="message" maxlength="6000" rows="7"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="name"> Your Name:</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="email"> Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <button type="submit" class="btn btn-lg btn-default pull-right" id="buttonstyle" >Send &rarr;</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 sm-12 vr" >
                	<hr id="des">
                	<p id="details">Call us at</p>
                	<p>+91 96674 31783 ,+91 96671 50067</p>
                	<p id="details">Email</p>
                	<p>dscigdtuw@gmail.com</p>
                	<p id="details">Address</p>
                	<p>Indira Gandhi Delhi Technical University For Women, Kashmere Gate, Delhi</p>
                	<p id="details">Checkout our social media handles!</p>
                  <p><a class="link" href="https://github.com/dscigdtuw/OneStopHelp"><i class="fab fa-github"></i> DSC-IGDTUW</a></p>
                   <p><a class="link" href="https://www.instagram.com/dsc_igdtuw/"><i class="fab fa-instagram"></i> @dsc_igdtuw</a></p>
                    <p><a class="link" href="https://www.linkedin.com/company/dscigdtuw/mycompany/"><i class="fab fa-linkedin"></i> Developer Student Clubs - IGDTUW</a></p>
                   <p>Visit our website <a class="link" href="https://dsc.community.dev/indira-gandhi-delhi-technical-university-for-women/">here</a></p>
                   <hr id="des2">
                </div>

            </div>

        </div>
</body>
</html>
