<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../public/css/index.css">
  	<script type="text/javascript" src="../public/js/index.js"></script>
	<title>
  </title>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="https://user-images.githubusercontent.com/55687908/98227536-70df7d80-1f7d-11eb-9714-f7db92c25822.jpg" height="50px" width="80px"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left " style="margin-left: 20px;" >
            <li><a href="/">Home</a></li>
            <li><a href="../views/resources.html">Resources</a></li>
            <li><a href="../views/updates.html">Updates</a></li>
            <li><a href="../views/team.html">Team</a></li>
            <li><a href="../views/contactus.html">Contact Us</a></li>
          </ul>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="../views/login.html"> Login/SignUp</a></li>
            </ul>
          </div>
        </div><!--/.nav-collapse -->
        
      </div>
    </nav>


    <div class="container-fluid" >
      <div class="row">
        <div class="col-md-6" style="margin-top:3%;" >
          <img 
          src="https://image.freepik.com/free-vector/diary-concept-illustration_114360-3057.jpg"
          style="width:100%; height:90%;"
          />
        </div>
        <div class="col-md-6"  style="margin-top:12%;" >
          <p id="para">OneStopHelp primarily focuses on students lacking resources to study for their exams. The problem lies in which material is valuable and which isn’t. Students don’t have time to surf the net in the hope of stumbling upon valuable websites for studying. So this web app provides students all the resources needed by them including notes, books, previous year exam papers and more.</p>
        </div>
      </div>
    </div>

<!-- <div class="image">
    <h1 class="heading">One Stop Help</h1>
   <p>Tagline</p> 
</div> -->
<!-- <div class="about">
   <h2>Main Description</h2>
   <p>OneStopHelp primarily focuses on students lacking resources to study for their exams. The problem lies in which material is valuable and which isn’t. Students don’t have time to surf the net in the hope of stumbling upon valuable websites for studying. So this web app provides students all the resources needed by them including notes, books, previous year exam papers and more.</p>
</div> -->
 <footer class="footer-distributed">
    <div class="footer-left">
        <h3>One<span>StopHelp</span></h3>
        <p class="footer-links">
            <a href="#">Home</a>·
            <a href="#">Sign In</a>·
            <a href="#">Meet Us</a>·
            <a href="#">Resources</a>·
            <a href="#">Updates</a>.
            <a href="#">Contact Us</a>
        </p>
        <p class="footer-company-name">OneStopHelp &copy; 2020</p>
    </div>
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>21 Revolution Street</span> Delhi, India</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>+1 555 123456</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">contact@OneStopHelp.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
        <span>About Us</span>
        This Project is a web app that is committed to providing current students with the necessary information and all the resources to succeed in college.
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        </div>
    </div>
    </footer> 
</body>
</html>
