<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Our Team</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/team.css">
    
    <link rel="stylesheet" type="text/css" href="../public/css/index.css">
    <script type="text/javascript" src="../public/js/index.js"></script>


    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="#"><img src="https://user-images.githubusercontent.com/55687908/98227536-70df7d80-1f7d-11eb-9714-f7db92c25822.jpg" height="50px" width="80px"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left " style="margin-left: 20px;">
                    <li><a href="../views/index.html">Home</a></li>
                    <li><a href="../views/resources.html">Resources</a></li>
                    <li><a href="../views/updates.html">Updates</a></li>
                    <li><a href="../views/team.html">Team</a></li>
                    <li><a href="../views/contactus.html">Contact Us</a></li>
                </ul>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="../views/login.html"> Login/SignUp</a></li>
                    </ul>
                </div>
            </div>
            <!--/.nav-collapse -->

        </div>
    </nav>

    <!-- <div class="navbar">
        <label class="logo">OneStopHelp</label>
        <ul>
            <li><a href="#" class="navlink">HOME</a></li>
            <li><a href="#">SIGN IN</a></li>
            <li><a href="#">MEET US</a></li>
            <li><a href="#">RESOURCES</a></li>
            <li><a href="#">UPDATES</a></li>
            <li><a href="#">CONTACT US</a></li>
        </ul>
        <span class="material-icons">dehaze</span>
    </div>  -->

    <!-------------------NAVBAR--------------------------->


    <section class="section-team" style="margin-top: 5%;">
        <div class="container ">
            <!-- Start Header Section -->
            <div class="row  mt-3 " style="display: flex;
            justify-content: center;">
                <div class=" col-md-8 col-lg-6">
                    <div class="header-section">
                        <h2 class="title " style="color: #3e64ff;">Let's meet with our team members</h2>
                    </div>
                </div>
            </div>
            <!-- / End Header Section -->

        </div>
    </section>

    <section class="section-team">
        <div class="container">
            <!-- Start Header Section -->
            <div class="row " style="display: flex;
            justify-content: center;">
                <div class="col-md-8 col-lg-6 col-xl-3  ">
                    <div class="header-section">
                        <h2 class="title">Project Maintainer</h2>
                    </div>
                </div>
            </div>
            <!-- / End Header Section -->
            <div class="row" style="display: flex;
            justify-content: center;">
                <!-- Start Single Person -->
                <div class="col-sm-6 col-lg-4 col-xl-3">

                    <div class="person-info">
                        <h3 class="full-name">DSC-IGDTUW</h3>
                        <span class="speciality">Web Development Team</span>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </section>

    <section class="section-team">
        <div class="container">
            <!-- Start Header Section -->
            <div class="row" style="display: flex;
            justify-content: center;">
                <div class="col-md-8 col-lg-6 col-xl-3">
                    <div class="header-section">
                        <h2 class="title">Project Admins</h2>
                    </div>
                </div>
            </div>
            <!-- / End Header Section -->
            <div class="row" style="display: flex;
            justify-content: center;">
                <!-- Start Single Person -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="single-person">
                        <div class="person-image">
                            <img src="https://avatars.githubusercontent.com/u/55687908?s=460&u=8e0b48782957f568df0e01f834464814714c5331&v=4" alt="">
                            <span class="icon">
								<a href="https://github.com/Sonali12920"><i class="fa fa-github" aria-hidden="true"></i></a>
							</span>
                        </div>
                        <div class="person-info">
                            <h3 class="full-name">Sonali</h3>
                            <span class="speciality">Web Developer</span>
                        </div>
                    </div>
                </div>
                <!-- / End Single Person -->

                <!-- Start Single Person -->

                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="single-person">
                        <div class="person-image">
                            <img src="https://avatars.githubusercontent.com/u/66944725?s=460&v=4" alt="">
                            <span class="icon">
							<a href="https://github.com/pccoder-2000"><i class="fa fa-github" aria-hidden="true"></i></a>
							</span>
                        </div>
                        <div class="person-info">
                            <h3 class="full-name">Priya</h3>
                            <span class="speciality">Web Developer</span>
                        </div>
                    </div>
                </div>
                <!-- / End Single Person -->

            </div>
        </div>
    </section>

    <section class="section-team">
        <div class="container">
            <!-- Start Header Section -->
            <div class="row" style="display: flex;
            justify-content: center;">
                <div class="col-md-8 col-lg-6">
                    <div class="header-section">
                        <h2 class="title">Contributors</h2>
                    </div>
                </div>
            </div>
            <!-- / End Header Section -->
            <div class="row">
                <!-- Start Single Person -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="single-person">
                        <div class="person-image">
                            <img src="https://avatars.githubusercontent.com/u/56886360?s=460&u=a765d8920627746b63e374956a82be30a1b87ed7&v=4" alt="">
                            <span class="icon">
							<a href="https://github.com/shagun0915"> <i class="fa fa-github" aria-hidden="true"></i></a>
							</span>
                        </div>
                        <div class="person-info">
                            <h3 class="full-name">Shagun Yadav</h3>
                            <span class="speciality">Mentee@DSC</span>
                        </div>
                    </div>
                </div>
                <!-- / End Single Person -->
                <!-- Start Single Person -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="single-person">
                        <div class="person-image">
                            <img src="https://avatars.githubusercontent.com/u/54024297?s=460&v=4" alt="">
                            <span class="icon">
						<a href="https://github.com/Mitali-laroia"> <i class="fa fa-github" aria-hidden="true"></i></a>
							</span>
                        </div>
                        <div class="person-info">
                            <h3 class="full-name">Mitali Laroia</h3>
                            <span class="speciality">Mentee@DSC</span>
                        </div>
                    </div>
                </div>
                <!-- / End Single Person -->
                <!-- Start Single Person -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="single-person">
                        <div class="person-image">
                            <img src="https://avatars.githubusercontent.com/u/57834633?s=460&v=4" alt="">
                            <span class="icon">
							<a href="https://github.com/shivangisahay14"> <i class="fa fa-github" aria-hidden="true"></i></a>
							</span>
                        </div>
                        <div class="person-info">
                            <h3 class="full-name">Shivangi Sahay</h3>
                            <span class="speciality">Mentee@DSC</span>
                        </div>
                    </div>
                </div>
                <!-- / End Single Person -->
                <!-- Start Single Person -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="single-person">
                        <div class="person-image">
                            <img src="https://avatars.githubusercontent.com/u/20817990?s=460&v=4" alt="">
                            <span class="icon">
					<a href="https://github.com/nporia"><i class="fa fa-github" aria-hidden="true"></i></a>
							</span>
                        </div>
                        <div class="person-info">
                            <h3 class="full-name">Nikita Poria</h3>
                            <span class="speciality">Mentee@DSC</span>
                        </div>
                    </div>
                </div>
                <!-- / End Single Person -->

                <!-- Start Single Person -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="single-person">
                        <div class="person-image">
                            <img src="https://avatars.githubusercontent.com/u/66954825?s=460&v=4" alt="">
                            <span class="icon">
						<a href="https://github.com/heenahmed"><i class="fa fa-github" aria-hidden="true"></i></a>
							</span>
                        </div>
                        <div class="person-info">
                            <h3 class="full-name">Heena Ahmed</h3>
                            <span class="speciality">Mentee@DSC</span>
                        </div>
                    </div>
                </div>
                <!-- / End Single Person -->

                <!-- Start Single Person -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="single-person">
                        <div class="person-image">
                            <img src="https://avatars.githubusercontent.com/u/71938658?s=460&u=8326c09da59990f1c4e36c66d6f9d4ec83cb9e48&v=4" alt="">
                            <span class="icon">
								<a href="https://github.com/nandini-412"><i class="fa fa-github" aria-hidden="true"></i></a>
							</span>
                        </div>
                        <div class="person-info">
                            <h3 class="full-name">Nandani</h3>
                            <span class="speciality">Mentee@DSC</span>
                        </div>
                    </div>
                </div>
                <!-- / End Single Person -->

                <!-- Start Single Person -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="single-person">
                        <div class="person-image">
                            <img src="https://avatars.githubusercontent.com/u/55693389?s=400&v=4" class="image">
                            <span class="icon">
								<a href="https://github.com/Anjalikumari148"><i class="fa fa-github" aria-hidden="true"></i></a>
							</span>
                        </div>
                        <div class="person-info">
                            <h3 class="full-name">Anjali Kumari</h3>
                            <span class="speciality">Mentee@DSC</span>
                        </div>
                    </div>
                </div>
                <!-- / End Single Person -->

                <!-- Start Single Person -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="single-person">
                        <div class="person-image">
                            <img src="https://avatars.githubusercontent.com/u/62637855?s=460&u=2e9981574124f1855196b2bec24c93a9e57e02ff&v=4" alt="">
                            <span class="icon">
							<a href="https://github.com/muskaanv0"><i class="fa fa-github" aria-hidden="true"></i></a>
							</span>
                        </div>
                        <div class="person-info">
                            <h3 class="full-name">Muskan Verma</h3>
                            <span class="speciality">Mentee@DSC</span>
                        </div>
                    </div>
                </div>
                <!-- / End Single Person -->

                <!-- Start Single Person -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="single-person">
                        <div class="person-image">
                            <img src="https://avatars.githubusercontent.com/u/66848627?s=460&u=96bab797d06463894056a79ba6b260f50e062ea8&v=4" alt="">
                            <span class="icon">
									<a href="https://github.com/nikita-1801"> <i class="fa fa-github" aria-hidden="true"></i></a>
								</span>
                        </div>
                        <div class="person-info">
                            <h3 class="full-name">Nikita</h3>
                            <span class="speciality">Mentee@DSC</span>
                        </div>
                    </div>
                </div>
                <!-- / End Single Person -->
            </div>
        </div>


        <!----------------FOOTER------------------->>
        <footer class="footer-distributed">
            <div class="footer-left">
                <h3>One<span>StopHelp</span></h3>
                <p class="footer-links">
                    <a href="#">Home</a>·
                    <a href="#">Sign In</a>·
                    <a href="#">Meet Us</a>·
                    <a href="#">Resources</a>·
                    <a href="#">Updates</a>.
                    <a href="#">Contact Us</a>
                </p>
                <p class="footer-company-name">OneStopHelp &copy; 2020</p>
            </div>
            <div class="footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>21 Revolution Street</span> Delhi, India</p>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <p>+1 555 123456</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:support@company.com">contact@OneStopHelp.com</a></p>
                </div>
            </div>
            <div class="footer-right">
                <p class="footer-company-about">
                    <span>About Us</span> This Project is a web app that is committed to providing current students with the necessary information and all the resources to succeed in college.
                </p>
                <div class="footer-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </footer>

        <!-------------------------FOOTER ENDS----------------------------------------------->
    </section>

</body>

</html>
