<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/team.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Our Team</title>
</head>
<body>
    <section id="team" class="team-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="site-heading text-center">
                            <h2>Our <span>Team</span></h2>
                            <h4>Meet our awesome and expert team members</h4>
                        </div>
                    </div>
                </div>
                    <div class="row team-items">
                        <div class="col-md-4 single-item">
                            <div class="item">
                                <div class="thumb">
                                    <img class="img-fluid" src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="Thumb">
                                    <div class="overlay">
                                        <h4>Lorem Ipsum</h4>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </p>
                                        <div class="social">
                                            <ul>
                                                <li class="twitter">
                                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                                </li>
                                                <li class="pinterest">
                                                    <a href="#"><i class="fab fa-pinterest"></i></a>
                                                </li>
                                                <li class="instagram">
                                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                                </li>
                                                <li class="vimeo">
                                                    <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="info">
                                    <span class="message">
                                        <a href="#"><i class="fas fa fa-envelope-open"></i></a>
                                    </span>
                                    <h4>Lorem Ipsum</h4>
                                    <span>Project Manager</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 single-item">
                            <div class="item">
                                <div class="thumb">
                                    <img class="img-fluid" src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="Thumb">
                                    <div class="overlay">
                                        <h4>Lorem Ipsum</h4>
                                        <p>
                                              kING.
                                        </p>
                                        <div class="social">
                                            <ul>
                                                <li class="twitter">
                                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                                </li>
                                                <li class="pinterest">
                                                    <a href="#"><i class="fab fa-pinterest"></i></a>
                                                </li>
                                                <li class="instagram">
                                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                                </li>
                                                <li class="vimeo">
                                                    <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="info">
                                    <span class="message">
                                        <a href="#"><i class="fas fa-envelope-open"></i></a>
                                    </span>
                                    <h4>Lorem Ipsum</h4>
                                    <span>App Developer</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 single-item">
                            <div class="item">
                                <div class="thumb">
                                    <img class="img-fluid" src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="Thumb">
                                    <div class="overlay">
                                        <h4>Lorem Ipsum</h4>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </p>
                                        <div class="social">
                                            <ul>
                                                <li class="twitter">
                                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                                </li>
                                                <li class="pinterest">
                                                    <a href="#"><i class="fab fa-pinterest"></i></a>
                                                </li>
                                                <li class="instagram">
                                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                                </li>
                                                <li class="vimeo">
                                                    <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="info">
                                    <span class="message">
                                        <a href="#"><i class="fas fa-envelope-open"></i></a>
                                    </span>
                                    <h4>Lorem Ipsum</h4>
                                    <span>Web designer</span>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
</body>
</html>
