body {
	background-color: #000;
	background-image: url("../img/header.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	width: 100%;
	height: 100%;
}

.navbar {
	height: 80px;
	border: none;
	z-index: 100;
	/* padding: 0 4%; */
}
.navbar-default{
	background-image: none;
	background-color: #373A36;
  box-shadow: 0 0 4px grey;
	border-radius: 0;
}
/* .navbar-default .navbar-brand {
 margin-top: 10px;
	color: white;
	margin-left: 0%;
} */
.navbar-default .navbar-nav > li > a {
	color: white;
	margin: 10px 5px 5px 5px;
}
.navbar-default .navbar-toggle {
	border-color: #F1948A;
	background-color: #ffffff;
}
.navbar-default .navbar-toggle:hover  {
	background-color: #F1948A;
}
.navbar-default .navbar-collapse.collapse.in ul {
	background-color: #373A36;
}
.navbar-default .navbar-collapse.collapse.in li a {
	background-color: #373A36;
	text-align: center;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
	color: #F1948A;
	border: 1px solid #F1948A;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
	color: #F1948A;
}

.container{
	margin-top: 3%;
	margin-bottom: 5%;
	background: rgba(0,0,0,0.5);
	padding:2% 2%;
	color:#fff;
	border-radius: 2%;
}

#form_container
{
	padding-left: 3.5%;
}
.form-group{
	margin-top: 2.5%;
}

#h1{
	margin-bottom: 5%;
	text-shadow: 3px 3px black;
	color: rgb(245, 245, 225);
}

.vr{
	text-align: center;
}

#des {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    margin-bottom: 10%;
    margin-top: 15%;
      width: 80%;
}

#des2 {
    border: 0;
    height: 2px;
    width: 80%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    margin-top: 10%;
}

#buttonstyle {
  position: relative;
  background-color: grey;
  font-size: 20px;
  color: rgba(0,0,0,0.8);
  padding: 13px;
  width: 130px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
}

#buttonstyle:after {
  content: "";
  background: black;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -100%;
  opacity: 0;
  transition: all 0.8s
}

#buttonstyle:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#details{
	margin-top: 5px;
	margin-bottom: -1px;
	font-size: 16px;
	color: rgba(245, 245, 220, 0.65);
}

.link {
  color: white;
}
.link  hover {
  color: blue;
  text-decoration: underline;
}
