body {
    background-color: #DCDCDC;
}

p,
a,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}


/*    NAVBAR         */

.navbar {
    height: 80px;
    background-color: transparent;
    overflow: hidden;
    transition: top 0.3s;
    z-index: 100;
    transition: background-color 1s ease 0s;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(37, 50, 50, 0.92);
    -moz-box-shadow: 5px 5px 10px 0px rgba(37, 50, 50, 0.92);
    box-shadow: 5px 5px 10px 0px rgba(63, 77, 77, 0.92);
    ;
}

.navbar-default .navbar-brand {
    /* margin-top: 10px;*/
    margin-left: 0%;
}

.navbar-default .navbar-nav>li>a {
    margin: 10px 5px 5px 5px;
    font-size: 120%;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:focus {
    color: #2cc1ee;
    border: 1px solid #2cc1ee;
    border-radius: 5px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
    color: #2cc1ee;
}

.navbar-default .navbar-toggle {
    border-color: #2cc1ee;
}

.navbar-default .navbar-toggle:hover {
    background-color: #8fddf5;
}


/* .navbar-default .navbar-toggle .icon-bar {
    color: #F1948A;
    background-color: #F1948A;
  }*/

.navbar-default .navbar-collapse.collapse.in ul {
    background-color: #030303;
}

.navbar-default .navbar-collapse.collapse.in li a {
    background-color: #0c0c0c;
    text-align: center;
}


/* Solid class attached on scroll past first section */

.navbar.solid {
    background-color: #373A36;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
}

.navbar.solid .navbar-brand {
    color: #8fddf5;
    transition: color 1s ease 0s;
}

.navbar.solid .navbar-nav>li>a {
    color: #8fddf5;
    transition: color 1s ease 0s;
}


/*    NAVBAR  ENDS         */

.row {
    margin: 3px;
    text-align: center;
}

.section-team {
    font-family: "Poppins", sans-serif;
    padding: 20px 0;
}

.section-team .header-section {
    margin-bottom: 5px;
}

.section-team .header-section .small-title {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #3e64ff;
}

.section-team .header-section .title {
    font-weight: 700;
    font-size: 45px;
}

.section-team .single-person {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: #f6f9ff;
    border-radius: 6px;
    height: 430px;
    width: 330px;
    box-shadow: 0 4px 8px 0 rgb(80, 79, 79);
}

.section-team .single-person:hover {
    background: linear-gradient(to right, #016cec, #00b5f7);
}

.section-team .single-person .person-image {
    position: relative;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding .3s;
}

.section-team .single-person:hover .person-image {
    padding: 12px;
    border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
    width: 100%;
    border-radius: 50%;
}

.section-team .single-person .person-image .icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 50%;
    font-size: 24px;
}

.section-team .single-person:hover .person-image .icon {
    background: none;
    background-color: #fff;
    color: #016cec;
}

.section-team .single-person .person-info .full-name {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 700;
}

.section-team .single-person .person-info .speciality {
    text-transform: uppercase;
    font-size: 14px;
    color: #016cec;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
    color: #fff;
}


/*     -------FOOTER--------------*/

footer {
    bottom: 0;
    width: 100%;
}

.footer-distributed {
    background-color: #373A36;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    /* margin-top: 80px; */
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #E6E2DD;
    font: normal 36px 'Montez', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #42d1eb;
}

.footer-distributed .footer-links {
    color: #E6E2DD;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #42d1eb;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #42d1eb;
    color: #E6E2DD;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #E6E2DD;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #E6E2DD;
    text-decoration: none;
    ;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #E6E2DD;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #E6E2DD;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #42d1eb;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    transition: all ease 0.6s;
    transform: scale(1.3, 1.3);
    opacity: 0.7;
}

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
    footer {
        line-height: normal;
        font-size: auto;
    }
}


/*     -------FOOTER ENDS--------------*/
